@import '~bootstrap/scss/bootstrap';

.outline-none, .outline-none:focus {
  outline: none;
  box-shadow: none;
}

.feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
}

@media screen and (min-width: 768px) {
  .channels-container {
    height: 100%;
    overflow: auto;
  }
}

@media screen and (max-width: 767px) {
  .main-container {
    overflow: visible!important;
  }

  .channels-container {
    margin-bottom: 10px;
  }

  .chat-container {
    height: calc(100% - 60px)!important;
  }
}
