@import '~bootstrap/scss/bootstrap';

.feedback {
  bottom: -25px;
}

@media screen and (min-width: 768px) {
  .channels-container {
    height: 100%;
    overflow: auto;
  }
}

@media screen and (max-width: 767px) {
  .main-container {
    overflow: visible!important;
  }
}
